<form #f="ngForm">
  <div class="form-group">
    <label for="">Name</label>
    <input
      #name="ngModel"
      name="name"
      [(ngModel)]="shipping.name"
      type="text"
      class="form-control"
      required
    />
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      <div *ngIf="name.errors.required">Name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">Contact</label>
    <input
      #email="ngModel"
      name="email"
      [(ngModel)]="shipping.email"
      type="text"
      class="form-control"
      placeholder="Email"
      required
    />
    <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
      <div *ngIf="email.errors.required">Email required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for=""></label>
    <input
      #phone="ngModel"
      name="phone"
      [(ngModel)]="shipping.phone"
      type="text"
      class="form-control"
      placeholder="Phone"
      required
    />
    <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
      <div *ngIf="phone.errors.required">Phone number is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="">City</label>
    <input
      #city="ngModel"
      name="city"
      [(ngModel)]="shipping.city"
      type="text"
      class="form-control"
      required
    />
    <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
      <div *ngIf="city.errors.required">City is required.</div>
    </div>
  </div>
  <button [disabled]="!f.valid" (click)="placeOrder()" class="btn btn-primary">
    Place Order
  </button>
</form>
